body {
	font-family: 'Source Sans 3', serif !important;
}

html {
	--cursor-color: #3b82f6;
}

html.dark-mode {
	--cursor-color: #fff;
}
.text{
	font-family: 'Source Sans 3', serif !important;
}

nav {
	font-family: 'Source Sans 3', serif !important;
}
